/*$font-stack: Helvetica, sans-serif
$grey-font: #4A4A4A
$stop-color: #D0021B
$warning-color: #F8E71C
$go-color: #7ED321*/

@font-face {
  font-family: "AvenirNext";
  src: url("fonts/AvenirNext-Regular.woff") format('woff');
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'AvenirNext', Helvetica, sans-serif;
  color: #4A4A4A;
  margin-bottom: 60px;
}

.btn, input {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.navbar {
  font-size: 18px;
  line-height: 20px;
  padding: 0 15px;
  background: #FFFFFF;
  -moz-box-shadow:    0px 2px 9px 0px rgba(0,0,0,0.19);
  box-shadow:         0px 2px 9px 0px rgba(0,0,0,0.19);
}

.main-container {
  width: 80%;
  margin: 0 auto;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 175px;
  background: rgba(215,215,215,0.50);
  border: 1px solid #979797;
  padding: 10px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.row {
  margin: 0px !important;
}

.footer ul {
  list-style-type: none;
  text-align: right;
}

.footer-muted {
  margin-top: 15px;
  font-size: 12px;
}

.newsletter .greyed {
  background: #979797;
  border: 0px solid #4A4A4A;
  -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.53);
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.53);
}

.twitter-icon {
  background: url('images/twitter.png');
  background-repeat: no-repeat;
  text-indent: -9999px;
  display: block;
  height: 68px;
}

.twitter-icon img {
  display: block;
}



