<div id="search-bar">
  <label for="address">Search for locations</label>

  <form class="form-inline">
    <input id="address" type="textbox" placeholder="ex: The Space Needle" class="form-control">
    <input type="button" value="Search" onclick="codeAddress()" class="btn btn-primary">
  </form>
</div>
