<div id="search-bar">
  <label class="sr-only" for="address">Search for locations</label>
  <input id="address" type="textbox" placeholder="ex: The Space Needle" class="form-control">
  <input type="button" value="Search" onclick="codeAddress()" class="btn btn-primary">
</div>
