<div class="row map-page">

{{bs-alert message="WCIP is not yet available with custom filters, but you can use the map below to get a basic idea of parking restrictions in Seattle." type="info" fade=true}}

  <div class="col-sm-8 col-lg-8">

    {{ partial 'map/search' }}

<!-- stuff for map overlays -->
    <div id="map-wrapper">
      <div id="loading">
        ...
        <div id="current"></div>
      </div>
    </div>
<!-- end stuff for map overlays -->

<!-- googlemap component -->
    {{ google-map latitude='47.6088409' longitude='-122.3344108' }}
<!-- end googlemap component -->
  </div>

  <div class="col-sm-4 col-lg-4">
    {{ partial 'map/legend' }}
  </div>

</div>
